/***********  BASE STYLES  ***************/



li {
	list-style: none;
	display: inline;
}

span {
	display: block;
	border-style: solid;
	border-width: 1px;
	margin: 25px 25px;
}

/*add a border around even numbered sections*/
.n-child section:nth-child(even) {
	border-style: solid;
	border-width: 1px;
}



